<!DOCTYPE html>

<html>

<head>
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">

</head>
<body>

{{>header}}
<div class="main-content">
    <p>This site is cretaed by vijay. It uses the data from mapbox</p>
<img class="portrait" src="/img/me.jpg">
<p>{{helpmessage}}</p>
</div>

{{>footer}}
</body>





</html>